<h2>Your Personal Jiujitsu Roadmap</h2>

<p><%= link_to 'Add Category', new_roadmap_path, :class => "btn btn-default"%></p>

<h3>Jiujitsu Roadmap Categories:</h3>

<div class="container">
<% @roadmap.each do |roadmap| %>
  <% if roadmap.user_id == current_user.id %>
    <div class="col-md-3">
    <div class="well items">
      <%= link_to roadmap.category, roadmap_path(roadmap) %>
    </div>
    </div>
  <% end %>
<% end %>
</div>
