<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2><%= @roadmap.category %></p></h2>
    </div>
  </div>
</div>

<!-- NHO: Feeling like this code is repeated on the entry show, how could we abstract that out to a shared partial? -->
<div class="row">
  <div class="col-md-8">
    <div class="well items">
      <h3>Techniques</h3>
        <% @technique.each do |technique| %>
          <% if can? :read, technique %>
            <% if technique.roadmap_id == @roadmap.id %>
              <p><%= link_to technique.name, entry_technique_path(technique.entry_id, technique) %></p>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="col-md-4 roadmap_edit">
    <div class="well items">
      <h3>Edit Category</h3>
      <p><%= link_to 'Edit Category', edit_roadmap_path, :class => "btn btn-success" %></p>
    </div>
  </div>
</div>
