  <div class="row">
    <div class="col-md-6">
      <div class="well items">
        <h3>Entries</h3>
        <h4><%= link_to 'New Entry', new_entry_path %></h4>
            <% @entry.each do |entry| %>
              <% if entry.user_id == current_user.id %>
                <p><%=entry.created_at.strftime("%B %d, %Y")%> : <%= link_to entry.title, entry_path(entry) %></p>
              <% end %>
          <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well items">
        <h3>Jiujitsu Roadmap</h3>
        <p><%= link_to 'Open Roadmap', roadmaps_path, :class => "btn btn-default"%></p>
      </div>
    </div>
  </div>
