  <div class="row">
    <div class="col-md-8">
      <div class="well items">
        <h3>Entries</h3>
            <% @entry.each do |entry| %>
              <% if can? :read, entry %>
                <p><%=entry.created_at.strftime("%B %d, %Y")%> : <%= link_to entry.title, entry_path(entry) %></p>
              <% end %>
          <% end %>
      </div>
    </div>
    <div class="col-md-4 entry_new_button">
      <div class="well items">
        <h3>New Entry</h3>
        <p><%= link_to 'New', new_entry_path, :class => "btn btn-success"%></p>
      </div>
    </div>
  </div>
