<h2>Technique name: <%= @technique.name %></h2>
<p>Technique description: <%= @technique.description %></p>
<p>Youtube URL: <%= @technique.video_url %></p>


<%= link_to 'Edit Technique', edit_entry_technique_path(@entry, @technique) %>
